<div class="product-card">

    <div class="img">
        <img src={{product.image_url}} alt="">
    </div>

    <div class="product">
        <div class="name">
            <p>{{product.name}}</p>
            <img (click)="deleteProduct()" src="../../../../assets/imgs/icons/delete-cart.svg" alt="">
        </div>
        <p class="description">{{product.description}}</p>
        <div class="quantity-price">

            <select [(value)]="selectedValue" (change)="onChange($event)"  name="" id="">
                <option *ngFor="let item of options" [value]="item">{{item}}</option>
            </select>

            <p>{{product.price | currency:'BRL':'symbol':'1.2-2'}}</p>
        </div>
    </div>
</div>