<div class="container">
    <div class="filters">

        <div class="filter-buttons">
            <p (click)="changeCategory('ALL')" [ngClass]="{ 'ACTIVE' : isAll }" class="button-text">TODOS OS PRODUTOS</p>
            <p (click)="changeCategory('SHIRTS')" [ngClass]="{ 'ACTIVE' : isShirts }" class="button-text">CAMISETAS</p>
            <p (click)="changeCategory('MUGS')" [ngClass]="{ 'ACTIVE' : isMugs }" class="button-text">CANECAS</p>
        </div>

        <div class="filter-page">
            <div  class="organize-container" (click)="toggleOptions()">
                <div class="filter-details" >
                    <p>Organizar por</p>
                    <img src="../../../../assets/imgs/icons/filter-arrow.svg" alt="">
                </div>

                <div class="options-container" *ngIf="showOptions">
                    <div class="option" (click)="filter('TODOS')">Sem filtro</div>
                    <div class="option" (click)="filter('MAIOR')">Preço maior - menor</div>
                    <div class="option" (click)="filter('MENOR')">Preço menor - maior</div>
                  </div>
            </div>
            <div class="buttons">
                <button *ngFor="let page of numberOfButtons" (click)="setCurrentPage(page)" [ngClass]="{'active': page === currentPage, 'inactive': page !== currentPage}">
                  {{ page }}
                </button>
            </div>
        </div>

    </div>

    <div class="row m-0 card-list">,
        <div class="item" *ngFor="let item of this.productsOnPage">
            <div (click)="navigateToProductDetails(item)">
                <product-card  [product]="item" ></product-card>
            </div>
        </div>
    </div>


</div>
