<div class="nav-box">
    <div class="inside-box">
        <div>
            <p class="title">capputeeno</p>
        </div>
        <div class="input-box">
            <div class="input-with-icon" [formGroup]="searchForm">
                <input formControlName="searchInput"  type="text" placeholder="Porcurando por algo específico?">
            </div>

            <div (click)="goToShoppingCart()" class="cart-container">
                <img  src="../../../../assets/imgs/icons/shopping-bag.svg" alt="">
                <div class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</div>
            </div>

        </div>
    </div>
</div>