<div class="container">
    <div class="cart">
        <div (click)="backToHome()" class="back-option">
            <img src="../../../../assets/imgs/icons/back-icon.svg" alt="">
            <p class="back-title">Voltar</p>
        </div>

        <div>
            <p class="title">Seu Carrinho</p>
            <p class="cart-description">Total ({{cartList.length}} produtos) <span style="font-weight: 600;">{{subTotalPrice | currency:'BRL':'symbol':'1.2-2'}}</span></p>
        </div>

        <div class="item" *ngFor="let item of this.cartList">
            <div>
                <product-cart (updateTotalPrice)="calcSubtotalPrice()" (deleteProductEvent)="deleteProduct(item)" [product]="item" ></product-cart>
            </div>
        </div>

    </div>

    <div class="resume">

        <div>
            <p class="resume-text">RESUMO DO PEDIDO</p>
            <div class="rows normal-text">
                <p>Subtotal de produtos</p>
                <p>{{subTotalPrice | currency:'BRL':'symbol':'1.2-2'}}</p>
            </div>
            <div class="rows normal-text">
                <p>Entrega</p>
                <p>{{deliveryPrice | currency:'BRL':'symbol':'1.2-2'}}</p>
            </div>
            <div class="rows total-text">
                <p>Total</p>
                <p>{{totalPrice | currency:'BRL':'symbol':'1.2-2'}}</p>
            </div>
            <button>Finalizar Compra</button>
        </div>

        <div class="link-text">
            <p>AJUDA</p>
            <p>REEMBOLSOS</p>
            <p>ENTREGAS E FRETE</p>
            <p>TROCAS E DEVOLUÇÕES</p>
        </div>
    </div>

</div>
