.row{
	margin: 0;
}

.container{
	max-width: 1200px;
    width: 1200px;
    padding-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
